<%= form_for @apps_construct, :url => (@apps_construct.id?) ? "/apps/#{ @apps_construct.app_id }/constructs/#{ @apps_construct.id }" : app_constructs_path do |f| %>
  <% if @apps_construct.errors.any? %>
    <div class="alert alert-danger" id="alert_message">
      <strong><%= pluralize(@apps_construct.errors.count, "error") %> prohibited this apps_construct from being saved:</strong>

      <ul>
      <% @apps_construct.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  <div class="form-horizontal">	  
	  <div class="form-group">
	    <%= f.label :name, :class=>'col-sm-2 control-label' %>
	    <div class="col-sm-10">
	    	<%= f.text_field :name, :class=>'form-control', :rows=>5 %>
	    </div>
	  </div>  
	  
	  <%= f.hidden_field :content %>
	  

	  <div id="form_builder_actions" class="clear actions btn-group block">
	    <%= f.submit 'Save', :class=>'btn btn-success'  %>
	    <%= link_to '<span class="glyphicon glyphicon-remove"></span> <span class="toggle_text">Delete</span>'.html_safe, {:action => 'destroy', :id => @apps_construct.id }, :method => :delete, :class=>'btn btn-danger', :confirm => 'Are you sure?' if check_role 'delete', @app.id and @apps_construct.id %>
	    <%= link_to 'Cancel', app_constructs_path(@app), :class=>'btn btn-default' %>
	  </div>
	</div>
<% end %>	  
	  
  <div id="form_builder">
	  <div id="fields" class="connectedSortable">
	  		<ul>
				<li id="drop_fields_here">Drop field types here</li>
	  		</ul>
	  		<div class="clear"></div> 
	  </div>
	  
	  <div id="field_picker" class="well draggable connectedSortable">
	  	<h2>Available field types</h2>
		  <ul>
			<li class="text_field">
				<%= render 'apps/constructs/form_builder/text_field' %>
			</li>
			
			<li class="textarea">
				<%= render 'apps/constructs/form_builder/textarea' %>
			</li>		
			
			<li class="select_box">
				<%= render 'apps/constructs/form_builder/select_box' %>				
			</li>
			
			<li class="radio_buttons">
				<%= render 'apps/constructs/form_builder/radio_buttons' %>
			</li>
			
			<li class="checkboxes">
				<%= render 'apps/constructs/form_builder/checkboxes' %>
			</li>
			
			<li class="table_vertical">
				<%= render 'apps/constructs/form_builder/table_vertical'%>
			</li>
			
			<li class="table_horizontal">
				<%= render 'apps/constructs/form_builder/table_horizontal'%>
			</li>			
		  </ul>	
		  <div class="clear"></div> 
	  </div>
  </div> 

	  	
	  	
<div class="modal fade" id="options_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Options</h4>
      </div>
      <div class="modal-body">
        <form action="#" class="disabled_form form-horizontal">
			<div class="form-group side-margin edited_options">
				
			</div>
			
			<div class="default_option hidden">
				<input class="form-control option_name" name="label" type="text" placeholder="Option name" />			
			</div>
			
			<a href="#" class="btn btn-info btn-sm side-margin" id="add_option"><span class="glyphicon glyphicon-plus"></span> Add another option</a>
			<input type="hidden" id="modal_target" value=""/>
        </form>
      </div>
      <div class="modal-footer">
      	<div class="btn-group">
	      	<button type="button" class="btn btn-success" id="options_save">Save</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>  	  	

