<% if @apps_constructs.count == 0 %>
		<div class="alert alert-info">There are no forms yet for this application.  Use the <span class="glyphicon glyphicon-plus"></span> icon below to add one.</div>
<% else %>
		<div class="alert alert-default">Forms in this application:</div> 
<% end %>


<table class="table-striped table-padded table-hover table-condensed col-sm-12">
	<% @apps_constructs.each_with_index  do |apps_construct, count| %>
		<tr>
			<td class="col-sm-4 align_right">
				Form <%= count+1 %>
			</td>
			<td class="col-sm-4 align_left">
		 <strong><%= apps_construct.name %></strong>
				</td>
	
	
		<td class="btn-group col-sm-4">
			<%= link_to '<span class="glyphicon glyphicon-play"></span> <span class="toggle_text">Use this form</span>'.html_safe, "/apps/#{ apps_construct.app_id }/constructs/#{ apps_construct.id }", :class => 'btn btn-success' %>
			<%= link_to '<span class="glyphicon glyphicon-pencil"></span> <span class="toggle_text">Edit form</span>'.html_safe, "/apps/#{ apps_construct.app_id }/constructs/#{ apps_construct.id }/edit", :class => 'btn btn-warning' if check_role 'edit', @app.id and apps_construct.id %>
			<%= link_to '<span class="glyphicon glyphicon-remove"></span> <span class="toggle_text">Delete form</span>'.html_safe, {:action => 'destroy', :id => apps_construct.id }, :method => :delete, :class=>'btn btn-danger', :confirm => 'Are you sure?' if check_role 'delete', @app.id and apps_construct.id %>
		</td>
		</tr>
	<% end %>
</table>

<br/></br/>
<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span> Back'.html_safe, app_path(@app), :class=>'btn btn-default' %>
<%= link_to '<span class="glyphicon glyphicon-plus"></span> <span class="toggle_text">New form</span>'.html_safe, new_app_construct_path, :class=>'btn btn-primary' %>

