<p id="notice"><%= notice %></p>

<h3><%= @apps_construct.name %></h3>

<form class="form-horizontal form_show">
	<% content = JSON.parse @apps_construct.content %>

	<% content.each do |page|%>
		<% page.each do |item_type, properties| %>
			<%= render "apps/constructs/form_builder/#{item_type}", :properties => properties %>
		<% end %>
	<% end %>
	<div class="btn-group">
		<input type="submit" class="btn btn-success" value="Save">	
		<%= link_to '<span class="glyphicon glyphicon-pencil"></span> <span class="toggle_text">Edit form</span>'.html_safe, "/apps/#{ @apps_construct.app_id }/constructs/#{ @apps_construct.id }/edit", :class => 'btn btn-warning' if check_role 'edit', @app.id and @apps_construct.id %>
		<%= link_to '<span class="glyphicon glyphicon-ban-circle"></span> Cancel'.html_safe, "/#{@app.slug}", :class=>'btn btn-default' %>
	</div> 	
</form>


