<h2><strong><%= @app.name %></strong> <%= t('text.workflows').downcase %></h2>
<% if @workflows.count > 0 %>
	
	<table class="table table-striped table-hover table-bordered">
		<tr>
			<th><%= t('text.name')%></th>
			<th><%= t('text.created')%></th>
			<th><%= t('text.created_by')%></th>
			<th><%= t('text.used')%></th>
		</tr>
		
		<% @workflows.each do |workflow| %>
		<tr>
			<td><%= link_to workflow.name, app_workflow_path(@app, workflow) %></td>
			<td><%= time_tag(workflow.created_at) %></td>
			<td><%= workflow.created_by.name %></td>
			<td><%= workflow.constructs %></td>
		</tr>
		<% end%>
	</table>
<% else %>
	<%= t('text.no_workflows')%>
<% end %>

<%= button_icon_link 'chevron-left', t('text.back'), app_path(@app) %>
<%= button_icon_link 'plus', t('text.new_workflow'), new_app_workflow_path(@app), 'success' %>

