<% pages = JSON.parse @submission.construct.content %>
<% response = JSON.parse @submission.content %>
<% notice = '' unless notice %>
<p id="notice"><%= notice %></p>
<h3><strong><%= @submission.construct.name %></strong> response by <strong><%= @submission.created_by.name %></strong> <small><%= @submission.created_at.to_formatted_s(:long_ordinal)  %></small></h3>

<%= "<div class='alert alert-info' id='draft_mode'>#{t('text.response_in_draft', :user => @submission.created_by.name)}</div>".html_safe if @submission.draft? %>

<div class="form-horizontal form_show">
		
	<%= form_for @submission, :url => (@submission.id?) ? app_form_submission_path(@app, @submission.construct, @submission) : app_form_submissions_path do |f| %>
	
		
		<% pages.each_with_index do |(page, page_contents), index| %>
			<div class="page panel <%= 'panel-default' unless pages.count <= 1 %>" id="page_<%= index+1 %>">
				<%= "<div class='panel-heading'><h3 class='panel-title'><strong>#{ index+1 }</strong>. #{ page.split(":", 2)[1] }</h3></div>".html_safe unless page.blank? or pages.count <= 1 %>
				<div class="panel-body">
				<% retractions = 0 %>
				<% page_contents.each_with_index do |page, page_index|%>
					<% page.each do |item_type, properties| %>
						<% properties['response'] = response["page_#{index+1}"][(page_index - retractions)][item_type] unless item_type == 'page_content' %>
						<% properties['additional_options'] = response["page_#{index+1}"][(page_index - retractions)]['additional_options'] unless item_type == 'page_content' %>
						<% retractions = retractions +1 if item_type == 'page_content'%>
						<% properties['edit'] = true if edit %>
						<%= render "apps/forms/form_builder/#{item_type}.html.erb", :properties => properties %>
					<% end %>
				<% end %>
				</div>
			</div>
		<% end %>
		
		
		<% if edit && current_user = @submission.created_by %>
			<%= f.hidden_field :content, :id => 'prepared_submission' %>
			
			<%= f.hidden_field :draft, :id =>'draft'%>
			
			<div class="actions clear">
				<div class="btn-group right">
					<input type="button" class="validate_form btn btn-default <%= 'disabled' if !@submission.construct.published? %>" value="<%= t('text.save_for_later')%>">
					<input type="submit" class="validate_form btn btn-success <%= 'disabled' if !@submission.construct.published? %>" value="<%= t('text.submit')%>">
				</div>	
			</div>
			
			<div class="clear"></div>
		<% end %>
	<% end %>
	
</div>