<h3><strong><%= @apps_construct.name %></strong> <%= t('text.submissions').downcase %></h3>

<%= paginate @submissions %>

<% if @submissions.count > 0 %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<div class="row">
				<div class="col-sm-2"><%= t('text.submitted') %></div>
				<div class="col-sm-2"><%= t('text.submitted_by') %></div>
				<div class="col-sm-2"><%= t('text.submission') %></div>
				<div class="col-sm-2"><%= t('text.workflow') %></div>
				<div class="col-sm-4"><%= t('text.status') %></div>
			</div>
		</h3>
	</div>
	<div class="panel-body">
<% @submissions.each do |submission| %>

	<% row_class = '' %>
	
	<% 	if submission.workflow_contents.last 
			case submission.workflow_contents.last.status 
			when 'approved'
				row_class = 'alert-success'
			when 'pending'
				row_class = 'alert-warning'
			when 'rejected'
				row_class = 'alert-danger'
		 	end
		 	highlight_stage = submission.workflow_contents.last.workflow_stage.stage
		 	highlight_stage = highlight_stage + 1 unless submission.workflow_contents.last.status == 'pending'
	end%>

	<div class="row border-bottom <%= row_class %>">
		<div class="col-sm-2">
			<%= submission.created_at.to_formatted_s(:long_ordinal)  %>
		</div>
		<div class="col-sm-2">
			<%= submission.created_by.name %>
		</div>
		<div class="col-sm-2">
			<div class="btn-group">
				<%= link_to t('text.view'), app_form_submission_path(submission.construct.app, submission.construct, submission), :class=>'btn btn-default btn-xs' %>
			</div>
		
			<div class="btn-group">	
				<% if submission.workflow_contents and submission.workflow_contents.last and submission.workflow_contents.last.workflow_stage.send_to == current_user and submission.workflow_contents.last.status == 'pending' %>
					<%= link_to 'Approve', approve_app_form_submission_workflow_content_path(@app, submission.construct, submission, submission.workflow_contents.last), :class=>'btn btn-success btn-xs' %>
					<%= link_to 'Reject', reject_app_form_submission_workflow_content_path(@app, submission.construct, submission, submission.workflow_contents.last), :class=>'btn btn-danger btn-xs' %>
				<% end %>	
			</div>		
		</div>
		
		<div class="col-sm-2">
			<%= link_to submission.construct.workflow.name, app_workflow_path(@app, submission.construct.workflow, :highlight => highlight_stage || 0) %>
		</div>
		
		<div class="col-sm-4">
			<% submission.workflow_contents.each_with_index do |workflow_response, index| %>
				<div class="workflow_item slide_up">
					<%= '<span class="glyphicon glyphicon-ok"></span>'.html_safe if workflow_response.status == 'approved' %>
					<%= '<span class="glyphicon glyphicon-remove"></span>'.html_safe if workflow_response.status == 'rejected' %>
					<%= '<span class="glyphicon glyphicon-chevron-right"></span>'.html_safe if workflow_response.status == 'pending' %>
					
					<%= workflow_response.created_at.to_formatted_s(:short) %>
					Stage <%= workflow_response.workflow_stage.stage %>: <strong>
						<%= workflow_response.status.humanize%> - <%= mail_to workflow_response.workflow_stage.send_to.email, workflow_response.workflow_stage.send_to.name %> 
					</strong>
					
					<%= "<br/> <strong>Comment</strong>: \"#{workflow_response.comment}\"".html_safe if workflow_response.comment? %>
				</div>
				<div class="workflow_item toggler">
					<% if ((index+1) == submission.workflow_contents.count) %>
						<% case workflow_response.status
							when 'approved'%>
								<span class="glyphicon glyphicon-ok"></span> <span>Approved</span>
							<% when 'rejected' %>
								<span class="glyphicon glyphicon-remove"></span> <span>Rejected</span>
							<% when 'pending' %>
								<span class="glyphicon glyphicon-chevron-right"></span> <span>Pending</span>
						<% end %>
					<% end %>	
				</div>		
	
			<% end %>
		</div>
	</div>
<% end %>
</div>
</div>
<% else %>
	<%= t('text.no_responses')%>
<% end %>
<%= paginate @submissions %>
<br/>
<%= button_icon_link 'chevron-left', t('text.submissions_list'), app_submissions_select_path(@app) %>


