<h3><strong><%= @app.name %></strong> <%= t('text.submissions').downcase %></h3>

<% if @app.constructs.count > 0 %>
	<% @app.constructs.each do |construct| %>
		<%= link_to "#{construct.name} #{'(Unpublished)' unless construct.published? } #{content_tag :span, :class=>'badge' do pluralize(construct.submissions.count, t('text.submission').downcase) end}".html_safe, app_form_submissions_path(@app, construct), :class=>"#{ 'disabled' unless construct.published?} btn btn-block submissions_select btn-default" %>	
	<% end %>
<% else %>
	<%= t('text.no_forms')%>
<% end %>

<br/>
<%= button_icon_link 'chevron-left', @app.name, app_path(@app) %>
