<% if @apps_constructs.count == 0 %>
		<div class="alert alert-info">There are no forms yet for this application.  Use the <span class="glyphicon glyphicon-plus"></span> icon below to add one.</div>
<% else %>
		<h3><%= @app.name %> forms</h3> 
<% end %>


<table class="table-striped table-padded table-hover table-condensed col-sm-12">
	<% @apps_constructs.each_with_index  do |apps_construct, count| %>
		<tr>
			<td class="col-sm-4 align_right">
				Form <%= count+1 %>: <strong><%= apps_construct.name %></strong>
			</td>

			<td class="col-sm-4">
				<div class="btn-group">
					<%= button_closer_link 'play', apps_construct.published? ? t('text.use_this_form') : t('text.preview'), app_form_path(@app, apps_construct), 'success'%>
					<%= button_closer_link 'pencil', t('text.edit'), edit_app_form_path(@app, apps_construct), "warning #{ 'disabled' if apps_construct.published? }" if check_role 'edit', @app.id and apps_construct.id %>
					<%= button_closer_link 'remove', t('text.delete'), {:action => 'destroy', :id => apps_construct.id }, "danger #{ 'disabled' if apps_construct.published? }", :method => :delete, :confirm => "#{t('confirm.delete_form', :form_name => apps_construct.name)}" if check_role 'delete', @app.id and apps_construct.id %>
					
					
				</div>
				<%= link_to pluralize(apps_construct.submission.count, 'response'), app_form_submissions_path(@app, apps_construct), :class=>'btn btn-default' if apps_construct.published? %>
			</td>
			<td class='col-sm-2'>
				<% if apps_construct.published? %>
					<%= link_to t('text.published'), '#', :class=>'btn btn-primary disabled' %>
				<% else %> 
					<%= link_to t('text.publish'), publish_app_form_path(params[:app_id], apps_construct.id), :class=>'btn btn-primary', :confirm=>"#{ t('confirm.publish_form')}" %>
				<% end %>
			</td>
			<td class='col-sm-2'>	
				<% if apps_construct.disabled? %>
					<%= link_to t('text.disabled'), swap_disabled_status_app_form_path(params[:app_id], apps_construct.id), :class=>'btn btn-default btn-danger' %>
				<% else %> 
					<%= link_to t('text.enabled'), swap_disabled_status_app_form_path(params[:app_id], apps_construct.id), :class=>'btn btn-default btn-success' %>
				<% end %>				
			</td>
		</tr>
	<% end %>
</table>

<br/></br/>

<%= button_icon_link 'chevron-left', 'Back', app_path(@app) %>

<%= button_closer_link 'plus', t('text.new_form'), new_app_form_path, 'success' %>

