<% if @use_form %>
	<div class='form-group text_field'>
		<label class="col-sm-2 control-label">
			<% if properties['required']%>
				<span class='required'>*</span>
			<% end %>
			<%= properties['label'] %>
		</label>
		
		<div class='col-sm-10'>
			<input type="text" name="<%= properties['label'].parameterize %>" class="form-control" <%= 'disabled="disabled"' if properties['response'] %> value="<%= properties['response'] %>" />
		</div>
	</div>
<% else %>
	<div class='li_handle'>
		<h3><span class="text_content default_label">Text field</span></h3>
		<input type="text" disabled="disabled" class="form-control remove" />
	</div>
	<div class="form_controls form-horizontal">
		<form action="#">
			<%= render 'apps/forms/form_builder/required_options', :type => 'text_field' %>
			<div class="form-group no-margin">
				<div class="col-sm-12 options">
					<div class="btn-group">
						<%= link_to '<span class="glyphicon glyphicon-remove"></span> <span class="toggle_text">Remove</span>'.html_safe, '#', :class=>'btn-sm btn btn-danger remove_field' %>
					</div>
				</div>						
			</div>
		</form>
	</div>
<% end %>
