<h3><strong><%= @app ? @app.name : t('text.global') %></strong> <%= t('text.permissions').downcase %></h3>
<table class="table table-bordered table-padded table-striped table-hover">
	<tr>
		<% unless params[:id] %>
			<th><%= t('text.app') %></th>
		<% end %>		
		<th><%= t('text.role_name')%></th>
		<th><%= t('text.users_assigned_html')%></th>
		<th><%= t('text.assign_a_user') %></th>
	</tr>
	<% @roles.each do |role| %>
			<tr>
				<% unless params[:id] %>
				<td>
					<%= link_to role.app.name, role_path(role.app), :class=>'btn btn-primary btn-sm' unless !role.app_id or !role.app %>
				</td>				
				<% end %>
				<td>
					<%= link_to role.name.humanize.titleize, '#', :class=>'btn disabled btn-primary btn-sm btn-block' %>
				</td>
			
				<td>
					<% role.users.each do |user| %>
						<%= link_to(user.name, "#{request.original_url}/new?remove=true&user=#{user.id}&role=#{role.id}", {:confirm=>"#{t('confirm.role_remove', :role => role.name, :user => user.name)}", :class=>"btn btn-default btn-sm #{ 'disabled' if current_user == user and role.name == 'admin' }"}) %>
					<% end %>
				</td>
				
				<td>
					<form class="form-horizontal form_change" action="<%= request.original_url %>/new" method="get">
						<input type="hidden" name="role" value="<%= role.id %>"/>
						<input type="hidden" name="add" value="true"/>
						<select class="form-control input-sm" name="user">
							<option value=""></option>
							<% @users.each do |user| %>
								<% unless role.users.include?(user) %>
									<option value="<%= user.id %>"><%= user.name %></option>
								<% end %>
							<% end %>
						</select>
					</form>
				</td>

			</tr>
	<% end %>
</table>

<div class="alert alert-info">
<%= t('text.permissions_text_html') %>
</div>