<div class="alert alert-success"><strong><%= app_types.select{ |x| x[1] == @app.app_type }.first.first %></strong> application</div>
<%= @app.description %>
<br/><br/>
Direct link:
<input type="text" id="distribute_url" value="<%= "#{root_url}#{@app.name.parameterize}" %>">
<br/><br/>


<%= render :partial => '/partials/created_updated_details', :locals => { :item => @app } %>

<br/><br/>


<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span> Applications'.html_safe, apps_path, :class=>'btn btn-default' %>

<div class="btn-group">
	<%= link_to '<span class="glyphicon glyphicon-play"></span> <span class="toggle_text">Run</span>'.html_safe, "/#{ @app.name.parameterize }", :class=>'btn btn-success' %>
	<%= link_to '<span class="glyphicon glyphicon-pencil"></span> <span class="toggle_text">Edit</span>'.html_safe, edit_app_path(@app), :class=>'btn btn-warning' if check_role 'admin', @app.id %>
	<%= link_to '<span class="glyphicon glyphicon-remove"></span> <span class="toggle_text">Delete</span>'.html_safe, {:action => 'destroy', :id => @app.id }, :method => :delete, :class=>'btn btn-danger', :confirm => 'Are you sure?' if check_role 'delete', @app.id %>
</div>

<div class="btn-group">
	<%= link_to '<span class="glyphicon glyphicon-wrench"></span> <span class="toggle_text">Build</span>'.html_safe, app_constructs_path(@app), :class=>'btn btn-info' if check_role 'admin', @app.id %>
	<%= link_to '<span class="glyphicon glyphicon-thumbs-up"></span> <span class="toggle_text">Permissions</span>'.html_safe, role_path(@app.id), :class=>'btn btn-primary' if check_role 'admin', @app.id %>
</div>





